---
import Layout from '../layouts/Layout.astro';
import Masonry from "../components/Masonry.astro";
import Upload from "../components/Upload.astro";
---
<Layout title="SST + Astro + Vue">
  <main>
    <Upload/>
    <Masonry/>
  </main>
</Layout>

<style>
  * { box-sizing: border-box; }

  body {
    font-family: sans-serif;
    background: #000;
    width: 1280px;
    margin: 0 auto;
  }
</style>
