---
import { buildImageLinks } from "./buildImageLinks";
import { buildUploadLink } from "./buildUploadLink";
import Drag from '../components/Drag.vue';

const imageLinks: any[] = await buildImageLinks();

const uploadLink: string = await buildUploadLink();
---
<div class="columns-4 space-y-5">
  <div class="bg-neutral-400 rounded-md shadow-md">
    <Drag client:only="vue" uploadLink={uploadLink}/>
  </div>

  {imageLinks.map((link) => (
    <div><img class="rounded-md shadow-md" src={link} alt="" loading="lazy"></div>
  ))}
</div>
